<header>
	<nav class="navbar navbar-full navbar-dark bg-primary">
	  <div class="container">
	  	<div class="nav navbar-nav">
	  	  <a class="nav-item nav-link active brand" href="/">Erik Jenkins <span class="sr-only">(current)</span></a>
	  	</div>
			<div class="nav navbar-nav pull-xs-right">
				<a title="GitHub" href="http://github.com/erik-jenkins" class="nav-item nav-link" target="_blank"><i class="fa fa-github-square"></i></a>
				<a title="Twitter" href="http://twitter.com/ejenks" class="nav-item nav-link" target="_blank"><i class="fa fa-twitter-square"></i></a>
				<a title="Steam" href="https://steamcommunity.com/id/erikjenkins" class="nav-item nav-link" target="_blank"><i class="fa fa-steam-square"></i></a>
				<a title="Write post" href="/#/write" class="nav-item nav-link" ng-show="user"><i class="fa fa-pencil-square"></i></a>
				<a title="Log out" href="#" class="nav-item nav-link" ng-show="user" ng-click="logout()"><i class="fa fa-sign-out"></i></a> 				
			</div>
	  </div>
	</nav>
</header>
