<header>
	<nav class="navbar navbar-full navbar-dark bg-primary">
	  <div class="container">
	  	<div class="nav navbar-nav">
	  	  <a class="nav-item nav-link active" href="/">Erik Jenkins <span class="sr-only">(current)</span></a>
	  	</div>
	  			<div class="nav navbar-nav pull-xs-right hidden-sm-up">
	  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar"><i class="fa fa-bars"></i></button>
	  			</div>
	  			<div class="nav navbar-nav pull-xs-right collapse navbar-toggleable-xs" id="exCollapsingNavbar">
	  				<a href="/" class="nav-item nav-link">Blog</a>
	  				<a href="http://github.com/erik-jenkins" class="nav-item nav-link" target="_blank">Github</a>
	  				<a href="#" class="nav-item nav-link">Twitter</a>
	  				
	  				<a href="/#/write" class="nav-item nav-link" ng-show="user">Write post</a>
	  				<a href="#" class="nav-item nav-link" ng-show="user" ng-click="logout()">Log out</a> 				
	  			</div>
	  </div>
	</nav>
</header>
