<header>
	<nav class="navbar navbar-full navbar-dark bg-primary">
	  <div class="container">
	  	<div class="nav navbar-nav">
	  	  <a class="nav-item nav-link active" href="/">Erik Jenkins <span class="sr-only">(current)</span></a>
	  	</div>
	  			<div class="nav navbar-nav pull-xs-right">
	  				<a href="#" class="nav-item nav-link">Blog</a>
	  				<a href="#" class="nav-item nav-link">Github</a>
	  				<a href="#" class="nav-item nav-link">Twitter</a>
	  			</div>
	  </div>
	</nav>
</header>
