<div class="post" ng-controller="PostCtrl">
  <h1 class="post-title"><a ng-href="#/post/{{post.slug}}" ng-click="getOne()" ng-bind="post.title"></a></h1>
  <small ng-show="user && post">
    <span class="edit">
      <a href="#/edit/{{post.slug}}" class="text-primary"><i class="fa fa-pencil-square-o"></i></a>
    </span>
    <span class="delete">
      <a href="#" ng-click="deletePost()"><i class="fa fa-minus-square-o"></i></a>
    </span>
  </small>
  <small class="post-timestamp text-muted" ng-bind="post.timestamp | date"></small>
  <span class="post-content" ng-bind-html="post.content | markdown"></span>
  <div class="tags">
    <a ng-repeat="tag in post.tags track by $index" ng-bind="tag" ui-sref="ViewTag({tag: tag})" class="post-tag"></a>
  </div>
</div>
<!-- mathjax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
